<div class="page-header">
	<h3>Order manager</h3>
</div>
<div class="alert alert-success" ng-show="success" ng-hide="!success">
	{{ success }}
</div>
<div class="alert alert-danger" ng-show="errors" ng-hide="!errors">
	<div ng-repeat="error in errors">{{ error[0] }}</div>
</div>
<form id="addOrder">	
	<div class="form-group">
		<label>Customer name</label>
		<input ng-model="inputs.customer" />
	</div>
	<div class="form-actions">
		<input type="hidden" ng-model="inputs.id" />
		<save type="order"></save>
	</div>
</form>
<ul>
	<li ng-repeat="item in items">
		{{ item.customer }}
		<edit></edit>
		<remove></remove>
	</li>
</ul>
<div class="form-actions">
	<a class="btn btn-warning" ng-click="actions.removeAll()" ng-show="items">Remove all Orders</a>
</div>