<div class="page-header">
	<h3>Product manager</h3>
</div>
<div class="alert alert-success" ng-show="success" ng-hide="!success">
	{{ success }}
</div>
<div class="alert alert-danger" ng-show="errors" ng-hide="!errors">
	<div ng-repeat="error in errors">{{ error[0] }}</div>
</div>
<form id="addProduct">	
	<div class="form-group">
		<label>Product name</label>
		<input ng-model="inputs.name" />
	</div>
	<div class="form-group">
		<label>Product price</label>
		<input ng-model="inputs.price" />
	</div>
	<div class="form-actions">
		<input type="hidden" ng-model="inputs.id" />
		<save type="product"></save>
	</div>
</form>
<ul>
	<li ng-repeat="item in items">
		{{ item.name }} - &pound;{{ item.price }}
		<remove></remove>
		<edit></edit>
	</li>
</ul>
<div class="form-actions">
	<a class="btn btn-warning" ng-click="actions.removeAll()" ng-show="items">Remove all Products</a>
</div>